<div class="container mt-5">

  <% if notice %>
    <p id="notice">
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    </p>
  <% end %>

  <h1 class="text-center m-5">Deleted Customers</h1>

  <%= link_to customers_path, class: "text-decoration-none" do %>
    <i class="fas fa-angle-double-left"></i> Back
  <% end %>

  <table class="table mt-4">
    <thead class='table-active th-text-color'>
      <tr>
        <th class="align-middle text-center">First name</th>
        <th class="align-middle text-center">Last name</th>
        <th class="align-middle text-center">Birthday</th>
        <th class="align-middle text-center">Country</th>
        <th colspan="7"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "customer", collection: @customers %>
    </tbody>
  </table>

  <br>
</div>
