<div class="container mt-5">
  <% if notice %>
    <p id="notice">
      <div class="alert alert-danger" role="alert">
        <%= notice %>
      </div>
    </p>
  <% end %>

  <h1 class="text-center m-5">Customers</h1>

  <table class="table mt-3">
    <thead class='table-active th-text-color'>
      <tr>
        <th class="align-middle text-center">First name</th>
        <th class="align-middle text-center">Last name</th>
        <th class="align-middle text-center">Birthday</th>
        <th class="align-middle text-center">Country</th>
        <th colspan="7"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @customers %>
    </tbody>
  </table>

  <br>

  <div class="d-flex">
    <div class="pe-3">
      <%= link_to 'New Customer', new_customer_path, class: 'btn btn-primary' %>
    </div>

    <div class="mb-5">
      <%= link_to "All Customers deleted", deleted_customers_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
